In [1]:
import pandas as pd
import MySQLdb # pip install mysqlclient

In [11]:
# Conex√£o com o Mysql
MyHost     = 'localhost'
MyPortHost = 3306
MyUser     = 'root'
MyPassword = 'estudo'
MyDB       = 'sakila'

mysql_cn= MySQLdb.connect(host=MyHost, 
                          port=MyPortHost,
                          user=MyUser,
                          passwd=MyPassword, 
                          db=MyDB)

In [12]:
select_tables = "select table_name from  information_schema.TABLES where TABLE_SCHEMA ='sakila' "
df_mysql = pd.read_sql(select_tables, con=mysql_cn)
mysql_cn.close()

In [71]:
df_tables = df_mysql.to_dict(orient='list')
list_tables = list(dix.values())[0]

In [77]:
for i in range(len(list_tables)):
    print(list_tables[i])

actor
actor_info
address
category
city
country
customer
customer_list
film
film_actor
film_category
film_list
film_text
inventory
language
nicer_but_slower_film_list
payment
rental
sales_by_film_category
sales_by_store
staff
staff_list
store